.about {
    position: relative;
    overflow: hidden;
    min-height: 600px;

    .about-left {
        display: inline-block;

        img {
            padding-bottom: 0.5em;
            max-width: 500px;
            margin-bottom: -90px;
        }
    }

    .about-right {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        margin-left: 8em;

        h1 {
            font-size: 2.5em;
            line-height: 1.5em;
            position: relative;
            margin-bottom: 1em;
            color: --color-accent;

            &:after {
                position: absolute;
                bottom: -24px;
                left: 0;
                width: 60px;
                height: 6px;
                content: '';
                background: --color-accent;
            }
        }

        p {
            font-size: 1.125em;
            line-height: 2em;
        }
    }
}
