.footer {
    display: flex;
    background-color: #242a34;
    color:  var(--color-white);
    padding: var(--padding-md);

    .footer-left,
    .footer-center,
    .footer-right {
        display: inline-block;
        vertical-align: top;
        padding: var(--padding-xs);
    }

    .footer-left {
        width: 40%;
    }

    .footer-links {
        color:  var(--color-white);
        padding: var(--padding-xs);
        padding-left: 0;
        
        a {
            font-size: var(--font-size-sm);
            display: inline-block;           
            color: inherit;
            padding-right: var(--spacing-md);

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    .footer-company-name {
        color: var(--color-primary);
        font-weight: 700;
        margin-top: var(--margin-xl);
    }

    .footer-center {
        width: 35%;
        padding: var(--padding-lg);

    }


    .footer-center p {
        display: inline-block;
        color: #efefef;
        vertical-align: middle;
        margin: 0;
        font-size: 14px;
    }

    .footer-center p span {
        display: block;
        font-weight: normal;
        line-height: 2;
    }

    .footer-center p a {
        color: #efefef;
        text-decoration: none;
    }

    .footer-right {
        width: 20%;
    }

    .footer-connect {
        color: #efefef;
        font-weight: 100;
        margin: 0;
    }

    .footer-connect span {
        display: block;
        color: var(--color-primary);
        font-size: var(--font-size-lg);
        font-weight: 700;
        margin-bottom: var(--margin-md);
        margin-top: var(--margin-sm);
    }

}
