.intro {
    position: relative;
    min-height: 600px;
    overflow: hidden;

    .intro__graphics {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;

        .intro__graphics__graphic-1 {
            position: absolute;
            top: -500px;
            right: -500px;
            display: block;
            width: 1000px;
            height: 1000px;
            border-radius: 100%;
            background-image: -webkit-gradient(
                linear,
                left top,
                right top,
                from(var(--color-primary)),
                to(var(--color-primary-dark))
            );
            mix-blend-mode: multiply;
        }
    }

    .intro-left {
        display: inline-block;
        width: 100%;
        max-width: 400px;
        padding: 3em 0;

        h1 {
            font-size: 2.5em;
            line-height: 1.5em;
            position: relative;
            margin-bottom: 1em;

            &::after {
                bottom: -24px;
                left: 0;
                width: 60px;
                height: 6px;
                content: '';
                background: --color-accent;
                position: absolute;
            }
        }

        p {
            font-size: 1.125em;
            line-height: 1.75em;
        }
    }

    .intro-right {
        position: relative;
        display: inline-block;
        margin-left: 6rem;
        img {
            margin-bottom: -2.2rem;
            max-width: 60rem;
        }
    }
}
