/*	2. Element Base
/* ---------------------------------------------*---------------------------- */

body {
    color: var(--font-color);
    font-family: var(--font-main);
    font-size: var(--font-size);
    letter-spacing: -0.015em;
    text-align: left;
}

h1,
.heading-size-1,
h2,
.heading-size-2,
h3,
.heading-size-3,
h4,
.heading-size-4,
h5,
.heading-size-5,
h6,
.heading-size-6 {
    font-family: var(--font-title);
    font-weight: 700;
}

h1,
.heading-size-1 {
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 1.138888889;
}

h2,
.heading-size-2 {
    font-size: 3.2rem;
}

h3,
.heading-size-3 {
    font-size: 2.8rem;
}

h4,
.heading-size-4 {
    font-size: 2.4rem;
}

h5,
.heading-size-5 {
    font-size: 2.1rem;
}

h6,
.heading-size-6 {
    font-size: 1.6rem;
    letter-spacing: 0.03125em;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
    margin: 0 0 1em 0;
}

em,
i,
q,
dfn {
    font-style: italic;
}

em em,
em i,
i em,
i i,
cite em,
cite i {
    font-weight: bolder;
}

big {
    font-size: 1.2em;
}

small {
    font-size: 0.75em;
}

b,
strong {
    font-weight: 700;
}

ins {
    text-decoration: underline;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

abbr,
acronym {
    cursor: help;
}

address {
    line-height: 1.5;
    margin: 0 0 2rem 0;
}

hr {
    border-style: solid;
    border-width: 0.1rem 0 0 0;
    border-color: var(--color-contrast-medium);
    margin: 4rem 0;
}

a {
    color: var(--font-link-color);
    text-decoration: none;
    transition: all 0.15s linear;

    &:hover,
    &:focus {
        text-decoration: none;
        color: var(--font-link-hover-color);
    }
}

/* Lists ------------------------------------- */

ul,
ol {
    margin: 0 0 3rem 3rem;
}

ul {
    list-style: disc;
    ul {
        list-style: circle;
        ul {
            list-style: square;
        }
    }
}

ol {
    list-style: decimal;
    ol {
        list-style: lower-alpha;
        ol {
            list-style: lower-roman;
        }
    }
}

li {
    line-height: 1.5;
    margin: 0.5rem 0 0 2rem;
    & > ul,
    & > ol {
        margin: 1rem 0 0 2rem;
    }
}

dt,
dd {
    line-height: 1.5;
}

dt {
    font-weight: 700;
}

dt + dd {
    margin-top: 0.5rem;
}

dd + dt {
    margin-top: 1.5rem;
}

/* Quotes ------------------------------------ */

blockquote {
    border-color: #cd2653;
    border-style: solid;

    /*rtl:ignore*/
    border-width: 0 0 0 0.2rem;
    color: inherit;
    font-size: 1em;
    margin: 4rem 0;

    /*rtl:ignore*/
    padding: 0.5rem 0 0.5rem 2rem;

    cite {
        display: block;
        margin: 2rem 0 0 0;
    }

    p:last-child {
        margin: 0;
    }
}

cite {
    color: #6d6d6d;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
}

/* Code -------------------------------------- */

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 0.9em;
    padding: 0.4rem 0.6rem;
}

code,
kbd,
samp {
    background: rgba(0, 0, 0, 0.075);
    border-radius: 0.2rem;
}

pre {
    border: 0.1rem solid #dcd7ca;
    line-height: 1.5;
    margin: 4rem 0;
    overflow: auto;
    padding: 3rem 2rem;
    text-align: left;

    code {
        background: transparent;
        padding: 0;
    }
}
