/* =======================

# use

    @mixin my-padding-mixin($some-number) {
      padding: $some-number;
    }

# now we can use @include to include the mixin

    .component {
      @include my-padding-mixin(10px);
    }

# we now have

    .my-module {
      padding: 10px;
    }

// =======================
*/

@mixin font-face($style-name, $font-path, $file-name, $font-weight, $font-style) {
    $filepath: $font-path + $file-name;
    @font-face {
        font-family: #{$style-name};
        src: url($filepath + '.eot');
        src: url($filepath + '.eot?#iefix') format('embedded-opentype'),
            url($filepath + '.woff') format('woff'),
            url($filepath + '.svg#' + $file-name + '') format('svg'),
            url($filepath + '.ttf') format('truetype'),
            url($filepath + '.woff2') format('woff2');
            font-weight: #{$font-weight};
            font-style: #{$font-style};
        }
}

@mixin font-size($sizeValue: 1.6, $line: $sizeValue * 1.1) {
    font-size: ($sizeValue * 1) + px;
    line-height: ($line * 1) + px;
    font-size: ($sizeValue / 10) + rem;
    line-height: ($line / 10) + rem;
}

/*
LOADING LAYOUT
// =======================
    USE
    @include barreLayout(100px, 80px, 0 auto,#eee);
*/

%blinkBackground {
    -webkit-animation-name: blink;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
}

%blinkRedBackground {
    -webkit-animation-name: blinkRed;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
}

@mixin barreLayout($width, $height, $margin, $backgroundcolor) {
    display: block;
    height: $height;
    width: $width;
    margin: $margin;
    @extend %blinkBackground;
    background-color: $backgroundcolor;
    border-radius: 2px;
}

@-webkit-keyframes blink {
    0% {
        background-color: #cccccc;
    }
    50% {
        background-color: #efefef;
    }
    100% {
        background-color: #cccccc;
    }
}

@keyframes blink {
    0% {
        background-color: #cccccc;
    }
    50% {
        background-color: #efefef;
    }
    100% {
        background-color: #cccccc;
    }
}

@-webkit-keyframes blinkRed {
    0% {
        background-color: #cc0000;
    }
    50% {
        background-color: lighten(#cc0000, 15%);
    }
    100% {
        background-color: #cc0000;
    }
}

@keyframes blinkRed {
    0% {
        background-color: #cc0000;
    }
    50% {
        background-color: lighten(#cc0000, 15%);
    }
    100% {
        background-color: #cc0000;
    }
}
