:root,
[data-theme='default'] {    /**
    * COLOR
    **/

    // COLOR PRIMARY
    --color-primary-lighter: hsl(38, 80%, 95%);
    --color-primary-light: rgb(247, 225, 186);
    --color-primary: hsl(48, 100%, 50%);
    --color-primary-dark: hsl(46, 100%, 50%);
    --color-primary-darker: hsl(43, 100%, 50%);
    // Color Accent // #103362
    --color-accent-lighter: hsl(206, 37%, 59%);
    --color-accent-light: hsl(206, 37%, 49%);
    --color-accent: hsl(214, 72%, 22%);
    --color-accent-dark: hsl(214, 72%, 11%);
    --color-accent-darker: hsl(214, 72%, 00%);
    // Color dark 
    --color-dark-lighter: hsl(219, 14%, 24%);
    --color-dark-light: hsl(222, 16%, 21%);
    --color-dark: hsl(218, 18%, 17%);
    --color-dark-dark: hsl(218, 18%, 06%);
    --color-dark-darker: hsl(218, 18%, 00%);
    // Color Black
    --color-black: hsl(240, 8%, 12%);
    // Color White
    --color-white: #fff;
    // Color Success
    --color-success-lighter:hsl(94, 48%, 76%);
    --color-success-light:hsl(94, 48%, 66%);
    --color-success:hsl(94, 48%, 56%);
    --color-success-dark:hsl(94, 48%, 46%);
    --color-success-darker: hsl(94, 48%, 36%);
    // Color Error
    --color-error-lighter:hsl(351, 85%, 79%);
    --color-error-light:hsl(351, 85%, 69%);
    --color-error:hsl(351, 85%, 59%);
    --color-error-dark:hsl(351, 85%, 49%);
    --color-error-darker:hsl(351, 85%, 39%);
    // Color Warning
    --color-warning-lighter:    hsl(46, 100%, 81%);
    --color-warning-light:    hsl(46, 100%, 71%);
    --color-warning:    hsl(46, 100%, 61%);
    --color-warning-dark:    hsl(46, 100%, 51%);
    --color-warning-darker:    hsl(46, 100%, 41%);
    // Contrast Scale
    --color-bg:hsl(0, 0%, 100%);
    
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-low:hsl(240, 1%, 83%);
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-higher: hsl(240, 8%, 12%);
    // other layout colors
    --color-logo: var(--color-accent);
}